!!! Strict
%html{html_attrs}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}/
    -# BluePrint CSS
    != css_include_tag 'compiled/screen'
    != catch_content :for_head
    %title BrianTheCoder
  %body
    %div.container
      =catch_content :for_layout
      - [ :error, :success, :notice ].each do |type|
        - if message[type]
          %div{:class => type }= message[type]
    - if Merb.environment == 'development'
      != js_include_tag :jquery, :application, :bundle => :base
    - else
      != js_include_tag "#{request.protocol}://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"
      != js_include_tag :application, :bundle => :base
    != catch_content :for_footer
